name: Build Android APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.24.0'
          channel: 'stable'

      - name: Install Dependencies
        run: |
          pip install -r src/requirements.txt
          pip install flet==0.25.0

      - name: Build APK
        # Añadimos --verbose para que nos diga exactamente qué hace si falla
        run: flet build apk src --verbose

      - name: Inspect Directory (Para nosotros saber qué pasó)
        run: ls -R

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: mi_app_notas
          # El cambio definitivo: busca en TODO el repositorio cualquier .apk
          path: "**/*.apk"
